#header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(../img/header4.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#header .header-content {
    position: relative;
    width: 100%;
    padding: 15% 0px;
    text-align: center;
}

#header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

#header .header-content .header-content-inner hr {
    margin: 30px auto;
}

#header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}



#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}



.bg-blue{
    background: #05C1FD
}


/** chart **/
.chart-horiz .chart li .bar {
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    min-width: 164px;
}

.chart-horiz .chart {
    width: 85%;
    padding: 0;
}
.chart-horiz .chart li {
    display: block;
    height: 40px;
    margin-top: 20px;
    position: relative;
}
.chart-horiz .chart li:before {
    color: #fff;
    content: attr(title);
    left: 15px;
    position: absolute;
    top: 5px;
}
.chart-horiz .chart li.title:before {
    color: black;
    font-weight: bold;
    left: 0
}
.chart-horiz .chart li:first-child {
    margin-top: 0
}
.chart-horiz .chart li .bar {
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    min-width: 164px
}
.chart-horiz .chart li .number {
    color: #333;
    font-size: 17px;
    font-weight: bold;
    padding: 0 10px;
    position: absolute;
    top: 0px;
    background: rgba(255, 255, 255, 0.9);
    border: 0px solid;
    height: 40px;
    line-height: 40px;
}
.chart-horiz .chart li.past .bar {
    background: rgba(0, 0, 0, 0.4);
}
.chart-horiz .chart li.past .number {
    color: #333;
}


/** github activity custom **/
.github-activity *{
    color: white;
}


/** profile custom **/
.main-profile a{
    color: #fff;
}

.main-profile a:hover{
    text-decoration: none;
}



/** skill nav **/
.skill-nav .btn{
     border: 0;
    border-radius: none;
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
}

.skill-nav .btn:active{
    border-radius: none;
}