
<div ng-controller="MainController">   
    <section class="bg-dark no-padding" ng-include="'app/profile/profile.html'"></section> 
    <section class="bg-dark" ng-include="'app/awards/awards.html'"></section>   
    <section class="bg-dark" ng-include="'app/skills/skills.html'"></section>
    <section class="bg-dark" ng-include="'app/portfolio/portfolio.html'"></section>
    <section class="bg-dark" ng-include="'app/experiences/experiences.html'"></section>
    <section class="bg-dark" ng-include="'app/projects/projects.html'"></section>
    <section class="bg-dark" ng-include="'app/activities/activities.html'"></section>
    <section class="bg-dark" ng-include="'app/contact/contact.html'"></section>
</div>
